<ng-container>
  <th class="w-[50px] text-center">
    <input
      [checked]="isAllSelected()"
      (change)="toggleAllSelection($event)"
      class="checkbox checkbox-sm"
      data-datatable-check="true"
      type="checkbox" />
  </th>

  <th class="min-w-[180px]">Type</th>
  <th class="min-w-[180px]">Citoyen</th>
  <th class="min-w-[150px]">Motif</th>
  <th class="min-w-[150px]">Description</th>
  <th class="min-w-[150px]">Crier par</th>
  <th class="min-w-[150px]">Status</th>
  @if (canChangeStatus) {
  <th class="min-w-[150px]">Action</th>
  }
  <th class="min-w-[120px]">Date creation</th>
  <th class="min-w-[120px]">Date validation</th>
  <th class="min-w-[200px]">Document</th>
</ng-container>
