<div class="bg-foreground fixed inset-0 z-50 flex items-center justify-center opacity-95">
  <div class="mx-auto h-full max-h-[95vh] w-full max-w-3xl overflow-y-auto rounded-lg bg-white p-8 shadow-lg">
    <h3 class="mb-4 text-xl font-semibold text-gray-700">
      📑 {{ mode === 'create' ? 'Nouvelle Demande' : 'Modifier Demande' }}
    </h3>

    <form [formGroup]="requestForm" (ngSubmit)="onSubmit()" class="space-y-6">
      <!-- Type -->
      <div>
        <label for="type" class="text-muted-foreground mb-1 block text-xs">Type de demande *</label>
        <select id="type" formControlName="type" class="input">
          <option value="">-- Sélectionner --</option>
          <option [value]="RequestType.CERTIFICAT_VIE">Certificat de vie</option>
          <option [value]="RequestType.CERTIFICAT_RESIDENCE">Certificat de résidence</option>
          <option [value]="RequestType.CERTIFICAT_MARITAL">Certificat marital</option>
          <option value="AUTRE">Autre</option>
        </select>
        <div *ngIf="requestForm.get('type')?.touched && requestForm.get('type')?.invalid" class="text-xs text-red-500">
          Le type est obligatoire.
        </div>
      </div>

      <!-- Champ "Autre" -->
      <div *ngIf="requestForm.get('type')?.value === 'AUTRE'" class="mt-2">
        <label for="otherType" class="text-muted-foreground mb-1 block text-xs">Préciser le type *</label>
        <input
          id="otherType"
          type="text"
          formControlName="otherType"
          class="input"
          placeholder="Saisir le type de demande" />
      </div>

      <!-- Description -->
      <div>
        <label for="description" class="text-muted-foreground mb-1 block text-xs">Description</label>
        <textarea id="description" formControlName="description" rows="3" class="input"></textarea>
      </div>

      <!-- Motif -->
      <div>
        <label for="motif" class="text-muted-foreground mb-1 block text-xs">Motif</label>
        <input id="motif" type="text" formControlName="motif" class="input" />
      </div>

      <!-- Citoyen -->
      <div>
        <label for="citizenPublicId" class="text-muted-foreground mb-1 block text-xs">Citoyen *</label>
        <select id="citizenPublicId" formControlName="citizenPublicId" class="input w-full">
          <option value="">-- Sélectionner --</option>
          <option *ngFor="let c of citizens$ | async" [value]="c.publicId">{{ c.firstName }} {{ c.lastName }}</option>
        </select>
        <div
          *ngIf="requestForm.get('citizenPublicId')?.touched && requestForm.get('citizenPublicId')?.invalid"
          class="text-xs text-red-500">
          Le citoyen est obligatoire.
        </div>
      </div>
      <!-- Date demande -->
      <div>
        <label for="creationDate" class="text-muted-foreground mb-1 block text-xs">Date de creation</label>
        <input
          id="creationDate"
          placeholder="Date de creation"
          type="date"
          formControlName="creationDate"
          class="input w-full" />

        <div
          *ngIf="requestForm.get('creationDate')?.touched && requestForm.get('creationDate')?.invalid"
          class="mt-1 text-xs text-red-500">
          *Date de creation requise.
        </div>
      </div>
      <!-- Statut -->
      <div *ngIf="canChangeStatus">
        <label for="status" class="text-muted-foreground mb-1 block text-xs">Statut *</label>
        <select id="status" formControlName="status" class="input w-full">
          <option [value]="RequestStatus.PENDING">En attente</option>
          <option [value]="RequestStatus.APPROVED">Approuvée</option>
          <option [value]="RequestStatus.REJECTED">Rejetée</option>
        </select>
      </div>

      <!-- Actions -->
      <div class="mt-4 flex justify-end gap-2 border-t pt-4">
        <button
          type="submit"
          class="hover:bg-primary-600 text-primary-foreground rounded-md bg-green-400 px-4 py-2.5 text-xs font-semibold">
          {{ mode === 'create' ? 'Créer' : 'Mettre à jour' }}
        </button>
        <button
          type="button"
          (click)="cancel()"
          class="hover:bg-primary-600 text-primary-foreground rounded-md bg-red-500 px-4 py-2.5 text-xs font-semibold">
          Annuler
        </button>
      </div>
    </form>
  </div>
</div>
