<ng-container>
  <!-- ✅ Checkbox sélection -->
  <td class="text-center">
    <input
      type="checkbox"
      [checked]="isSelected$ | async"
      (change)="toggleSelection($event)"
      class="checkbox checkbox-sm" />
  </td>

  <!-- 🏷️ Titre -->
  <td>{{ request.type | prettyType }}</td>
  <td>{{ request.citizenPublicId }}</td>
  <td>{{ request.motif }}</td>
  <td>
    {{ request.description.length > 50 ? (request.description | slice: 0:50) + '...' : request.description }}
  </td>
  <td>{{ request.creatorPublicId }}</td>
  <!-- <td>{{ request.status. }}</td> -->
  <td>
    <span
      [ngClass]="{
        'bg-green-100 text-green-800': request.status?.value === 'APPROVED',
        'bg-red-100 text-red-800': request.status?.value === 'REJECTED',
        'bg-yellow-100 text-yellow-800': request.status?.value === 'PENDING',
      }"
      class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-medium">
      {{
        request.status?.value === 'APPROVED'
          ? 'Approuvée'
          : request.status?.value === 'REJECTED'
          ? 'Rejetée'
          : request.status?.value === 'PENDING'
          ? 'En attente'
          : 'En attente'
      }}
    </span>
  </td>

  <!-- ✅ Action -->
  <td *ngIf="canChangeStatus" class="relative">
    <!-- Icône pour ouvrir/fermer le menu -->
    <button (click)="toggleMenu(request.publicId)" class="rounded p-1 hover:bg-gray-200">⚙️</button>

    <!-- Menu dropdown -->
    <div
      *ngIf="openMenuId === request.publicId"
      class="absolute right-0 z-10 mt-2 w-36 rounded-md border bg-white shadow-lg">
      <button
        class="block w-full px-3 py-1 text-left text-sm hover:bg-green-100"
        (click)="updateStatus(request, RequestStatus.APPROVED)">
        ✅ Approuver
      </button>

      <button
        class="block w-full px-3 py-1 text-left text-sm hover:bg-red-100"
        (click)="updateStatus(request, RequestStatus.REJECTED)">
        ❌ Rejeter
      </button>

      <button
        class="block w-full px-3 py-1 text-left text-sm hover:bg-yellow-100"
        (click)="updateStatus(request, RequestStatus.PENDING)">
        ⏳ En attente
      </button>
    </div>
  </td>

  <td>{{ request.creationDate | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
  <td>{{ request.validationDate | date: 'yyyy-MM-dd HH:mm:ss' }}</td>

  <td *ngIf="request.certificateUrl">
    <a [href]="request.certificateUrl" target="_blank" class="text-blue-500 hover:underline">
      Télécharger le certificat
    </a>
  </td>

  <!-- Colonne Documents -->
  <td class="relative text-center">
    <!-- Badge avec nombre de documents -->
    <!-- <span
      class="absolute top-3 right-10 inline-flex h-5 w-5 items-center justify-center rounded-full bg-blue-500 text-xs text-white">
      {{ 0 }}
    </span> -->
    <!-- Icône œil -->
    <button type="button" 
    class="group relative rounded p-1 hover:bg-gray-200"
     (click)="openDocuments(request, $event)"
     [disabled]="request.status?.value !== 'APPROVED'">
      <!-- <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5 text-blue-600"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M2.458 12C3.732 7.943 7.523 5 12 5c4.477 0 8.268 2.943 9.542 7-1.274 4.057-5.065 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
      </svg> -->

      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-5 w-5 text-purple-600">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
      </svg>
      <!-- Tooltip -->
      <span
        class="absolute -top-8 left-1/2 -translate-x-1/2 scale-0 whitespace-nowrap rounded bg-gray-800 px-2 py-1 text-xs text-white transition-transform group-hover:scale-100">
        voir le document
      </span>
    </button>

    <button
      type="button"
      class="group relative rounded  hover:bg-gray-200"
      (click)="downloadDocument(request, $event)"
      [disabled]="request.status?.value !== 'APPROVED'">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-5 w-5 text-yellow-600">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M7.5 7.5h-.75A2.25 2.25 0 0 0 4.5 9.75v7.5a2.25 2.25 0 0 0 2.25 2.25h7.5a2.25 2.25 0 0 0 2.25-2.25v-7.5a2.25 2.25 0 0 0-2.25-2.25h-.75m-6 3.75 3 3m0 0 3-3m-3 3V1.5m6 9h.75a2.25 2.25 0 0 1 2.25 2.25v7.5a2.25 2.25 0 0 1-2.25 2.25h-7.5a2.25 2.25 0 0 1-2.25-2.25v-.75" />
      </svg>
      <!-- Tooltip -->
      <span
        class="absolute -top-8 left-1/2 -translate-x-1/2 scale-0 whitespace-nowrap rounded bg-gray-800 px-2 py-1 text-xs text-white transition-transform group-hover:scale-100">
        générer certificat
      </span>
    </button>

    <button
      type="button"
      class="group relative rounded p-1 hover:bg-gray-200"
      (click)="uploadDocuments(request, $event)"
      [disabled]="request.status?.value !== 'APPROVED'">
      <!-- Icon -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-5 w-5 text-green-600">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15m0-3-3-3m0 0-3 3m3-3V15" />
      </svg>
      <!-- Tooltip -->
      <span
        class="absolute -top-8 left-1/2 -translate-x-1/2 scale-0 whitespace-nowrap rounded bg-gray-800 px-2 py-1 text-xs text-white transition-transform group-hover:scale-100">
        télécharger
      </span>
    </button>
  </td>
</ng-container>

<!-- 📅 Date de création -->
<!-- <td>
    {{ request.creationDate ? (request.creationDate | date: 'dd/MM/yyyy') : '' }}
  </td> -->

<!-- 👤 Auteur -->
<!-- <td>{{ request.ownerType }} - {{ request.ownerPublicId.substr(1, 5) }}</td> -->

<!-- Colonne Propriétaire -->
<!-- <td>
    <span *ngIf="request.ownerType === 'CITIZEN'"> {{ request.ownerFirstName }} {{ request.ownerLastName }} </span>
  </td> -->

<!-- 📊 Statut -->
<!-- <td>{{ request.status }}</td> -->
<!-- Colonne Status -->
<!-- <td>
    <span
      [ngClass]="{
        'bg-green-100 text-green-800': request.status === 'requestD',
        'bg-blue-100 text-blue-800': request.status === 'ACTIVE',
        'bg-yellow-100 text-yellow-800': request.status === 'ON_HOLD',
        'bg-red-100 text-red-800': request.status === 'DELETED',
      }"
      class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-medium">
      {{ request.status }}
    </span>
  </td> -->

<!-- 🗄️ Lieu -->
<!-- <td>{{ request.storageLocation }}</td> -->
<!-- Colonne Lieu de stockage -->

<!-- 📎 document -->
<!-- <td>
    <button (click)="openDocuments()" class="text-xs text-blue-500 hover:underline">
      Voir documents ({{ request.documents.length || 0 }})
    </button>
  </td> -->

<!-- Colonne Documents -->

<!-- ⚡ Actions -->
<!-- <td class="space-x-2 text-center">
    <button class="text-xs text-blue-500 hover:underline" (click)="editrequest(request)">Modifier</button>
    <button class="text-xs text-red-500 hover:underline" (click)="deleterequest(request.publicId)">Supprimer</button>
  </td> -->
